@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
    --primary-color: #3685fb;
    --primary-color-dark: #2f73d9;
    --secondary-color: #fafcff;
    --text-dark: #0d213f;
    --text-light: #767268;
    --extra-light: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    cursor: pointer;

    span {
        color: var(--primary-color);
    }
}

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
        padding: 0 1rem;
        color: var(--text-dark);
        transition: 0.3s;
    }

    a:hover {
        color: var(--primary-color);
    }
}

header {
    background-color: var(--secondary-color);
}

.header_container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .header_image{
        position: relative;
    }

    .header_image img {
        position: absolute;
        top: 50%;
        left: 50%;
        border: 0.5rem solid var(--extra-light);
        border-radius: 2rem;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    }

    .header_image img:nth-child(1) {
        max-width: 250px;
        transform: translate(-75%, -50%);
    }

    .header_image img:nth-child(2) {
        max-width: 250px;
        transform: translate(0%, -25%);
    }
}

